<div class="body">
    <div class="loginContainer">
        
        <div class="logindiv">
            <form class="example-form">           
                <mat-card>
                <mat-card-title>Login</mat-card-title>
                
                <mat-form-field class="example-full-width input">
                    <input  matInput placeholder="User" >

                </mat-form-field>
                <mat-form-field class="example-full-width input">
                    <input  matInput placeholder="Password" type="password" >

                </mat-form-field>
                <a mat-raised-button color="primary" routerLink="./register" >Sign In</a>
                
                <mat-card-subtitle class="sub">Do not have an account?</mat-card-subtitle>
                <a mat-raised-button routerLink="/register" routerLinkActive="active">Create account</a>
                </mat-card>
        </form>
 
        </div>
    </div>
</div>
