<div class="general">
    <div class="header">
        <mat-toolbar color="primary">
            <a mat-raised-button color="primary" class="Options" >Home</a>
            <a mat-raised-button color="primary" class="Options">My information</a>
           
           
            
            <a mat-raised-button color="primary" class="Options logOff">Log out</a>
        </mat-toolbar>

    </div>
    <div class="container">
        
    </div>
    
    <footer class="footer">
        <mat-toolbar color="primary" class="toolbarfooter">
            <h1>Copyright © 2019 KANS Inc. All rights reserved</h1>
        </mat-toolbar>
    </footer>
</div>